import 'package:flutter/material.dart';
{{#internationalization}} 
import 'package:flutter_localizations/flutter_localizations.dart';
import 'package:{{#snake_case}}{{projectName}}{{/snake_case}}/localizations.dart';
{{/internationalization}}

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Demo with the blank template',
      theme: ThemeData(
        primarySwatch: Colors.blue,
      ),
      home: Scaffold(
        appBar: AppBar(
          title: Text('Demo with the blank template'),
        ),
        body: Center(
          child: Column(
            mainAxisAlignment: MainAxisAlignment.center,
            children: <Widget>[
              Text(
                '{{#title_case}}{{projectName}}{{/title_case}} with Blank template generated with BytePlot CLI',
              ),
            ],
          ),
        ),
      ),
      {{#internationalization}} 
      localizationsDelegates: [
        AppLocalizationsDelegate(),
        GlobalMaterialLocalizations.delegate,
        GlobalWidgetsLocalizations.delegate,
      ],
      supportedLocales: [
        const Locale('en', ''),
      ],
      {{/internationalization}}
    );
  }
}
